extends ../layout

block main 
  .slider
    ul.slider__list 
      li.slider__item
        img(src="/website/img/intro_slider01.jpg", alt="")        
        .container
          .slider__item-block
            .slider__item-text
              div.slider__item-title Изготовление 
                span лекарств
              div.slider__item-sub по индивидуальному рецепту
  .company-contacts.container
    ul.company-contacts__list 
      li.company-contacts__item
        .company-contacts__phones.company-contacts__phones--green
          a.company-contacts__link(href="tel:+74712526586") 
            object(type="image/svg+xml" data="/website/img/icons/phone_green.svg")           
            span (4712) 52-65-86
        div Справочная служба о наличии и стоимости лекарств
        div пн-пт: 08.00 - 20.00
        div сб,вс: 10.00 - 18.00
      li.company-contacts__item
        .company-contacts__phones
          a.company-contacts__link(href="tel:+74712526586") 
            object(type="image/svg+xml" data="/website/img/icons/phone_red.svg")
            span 8 (4712) 515-515
        div горячая линия
        div ежедневно с 8.00-20.00
      li.company-contacts__item
        .company-contacts__phones
          a.company-contacts__link(href="tel:+74712526586") 
            object(type="image/svg+xml" data="/website/img/icons/phone_red.svg")
            span 8 (4712) 50-60-50
        div горячая линияпо отпуску
        div льготных лекарсвенных препаратов
  section.about 
    .banner-block
      .banner-block__img
        img(src="/website/img/banner_bg01.jpg", alt="")
      .banner-block__text
        .container
          .banner-block__desc
            h2.banner-block__title О компании
            p Ведущая аптечная сеть региона ОАО &laquo;Курская фармация&raquo;, которая фактически является наследником и продолжателем традиций Курского аптечного управления, заботится о здоровье жителей региона, предлагая большое разнообразие лекарственных препаратов и медицинских товаров аптечного ассортимента по выгодным ценам оптом и в розницу.
            p Предприятие объединяет 35 аптек, оптовый склад, 32 мелкорозничных аптечных пункта и является надежным поставщиком лекарственных средств по ряду федеральных целевых программ в сфере здравоохранения. При этом контрольный пакет акций находится в руках государства, а именно - комитета по управлению имуществом Курской области.
    .contaiter 
      .organization
        h2.section__title Структура компании
        .organization__schema
          .schema
            .schema__header 
              object(type="image/svg+xml" data="/website/img/icons/cross.svg")
              span 67 организаций
            ul.schema__list
              li.schema__item 
                .schema__item-title 
                  object(type="image/svg+xml" data="/website/img/icons/pin.svg")
                  span 24 в г.Курск
                .schema__item-graph
                  .schema__block
                    .schema__block-count 11
                    .schema__block-text Аптек
                  .schema__block
                    .schema__block-count 13
                    .schema__block-text Аптечных пунктов
              li.schema__item 
                .schema__item-title 
                  object(type="image/svg+xml" data="/website/img/icons/pin.svg")
                  span 43 в сельской местности
                .schema__item-graph
                  .schema__block
                    .schema__block-count 24
                    .schema__block-text Аптеки
                  .schema__block
                    .schema__block-count 19
                    .schema__block-text Аптечных пунктов
    .section__promo
      .container
        p Аптечные учреждения ОАО &laquo;Курская фармация&raquo; одни из немногих в Курске и области занимаются изготовлением лекарственных форм по индивидуальным рецептам и требованим лечебно-профилактических учреждений. Кроме того, компания обеспечивает лекарствами около 400 фельдшерско-акушерских путнктов по всему региону.
        p &laquo;Курская фармация&raquo; - фармацевтическое предприятие в области, гарантирующее качество реализуемых препаратов. Мы несем отвественность за здоровье своих клиентов и предлагаем исключительно проверенные лекарственные средства. Предлагаемые нами медикаменты проходят контроль, что подтверждается заключением о качестве Центра сертификации.
  section.advantages 
    .container 
      h2.section__title Преимущества аптечной сети &laquo;Курская фармация&raquo;
      -
        var advantages = [
          {index1:1,index2:2, text1:"Широкая география присутствия", img1:"advantage_01", pic1:"map", text2:"Шаговая доступность для потребителей", img2:"advantage_02", pic2:"people"},
          {index1:3,index2:4, text1:"Наличие производственных аптек", img1:"advantage_03", pic1:"pharmacy", text2:"Отпуск медикаментов льготным категориям граждан по бесплатным рецептам", img2:"advantage_04", pic2:"recipe"},
          {index1:5,index2:6, text1:"Подтвержденное качество лекарсвенных средств", img1:"advantage_05", pic1:"shield", text2:"Традиционно высокий уровень сервиса", img2:"advantage_06", pic2:"medal"},
          {index1:7,index2:8, text1:"Накопительная система скидок", img1:"advantage_07", pic1:"credit-card", text2:"Акции по продаже лекарсвенных средств со скидками", img2:"advantage_08", pic2:"parcel"},
          {index1:9,index2:10,text1:"Наличие единой информационной системы аптечной сети", img1:"advantage_09", pic1:"hospital-sign", text2:"Доставка лекарств на дом", img2:"advantage_10", pic2:"package"}
        ];
      ul.advantages__list 
        each advantage, index in advantages
          li.advantages__item.advantage
            .advantage__text
              .advantage__num #{advantage.index1}
              .advantage__logo 
                object(type="image/svg+xml" data=`/website/img/icons/${advantage.pic1}.svg`)
              .advantage__title #{advantage.text1}
            .advantage__img.advantage__img--right
              img(src=`/website/img/${advantage.img1}.jpg`, alt="")
          li.advantages__item.advantage
            .advantage__img
              img(src=`/website/img/${advantage.img2}.jpg`, alt="")
            .advantage__text
              .advantage__num #{advantage.index2}
              .advantage__logo 
                object(type="image/svg+xml" data=`/website/img/icons/${advantage.pic2}.svg`)
              .advantage__title #{advantage.text2}
    .banner-block
      .banner-block__img
        img(src="/website/img/banner_bg02.jpg", alt="")
      .banner-block__text
        .container 
          .banner-block__desc
            p Аптечная сеть ОАО &laquo;Курская фармация&raquo; - проверенное качество медикаментов, устоявшиеся традиции аптечного дела, широкий ассортимент лекарсвенных средств и медицинских изделий, высококвалифицированные специалисты. Оцените достоинства сотрудничества с ОАО &laquo;Курская фармация&raquo;.
            h2.banner-block__title Мы заботимся о вашем здоровье, предлагая только проверенные лекарства!
  .documents 
    .container
      h2 Документы
      ul.documents__list 
        li.documents__item
          a(href="#")
            object(type="image/svg+xml" data="/website/img/icons/document.svg")
            span Лицензия на осуществление фармацевтической деятельности аптеки от 26.05.2017
        li.documents__item
          a(href="#")
            object(type="image/svg+xml" data="/website/img/icons/document.svg")
            span Лицензия на осуществление фармацевтической деятельности аптеки от 19.02.2013